@layer reset, components;

:root {
  --main-bg-color: #17271b;
  --sec-bg-color: #e7f0ec;
  --white-text: #d7e4de;
  --black-text: #000;
  --sec-color: rgb(202, 152, 126);
  --accent-color: #99912a;
}

@layer reset {
  /*Resseting styles*/
  * {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  html,
  body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,
  button,
  textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
}

@layer components {
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--sec-bg-color);
    color: var(--black-text);
    font-weight: 500;
    flex-direction: column;
    display: flex;
    flex: 1;
  }

  header {
    block-size: 30dvh;
    inline-size: 100%;
    background-image: url('/images/back.jpg');
    background-size: cover;
    background-position: center;
    color: var(--white-text);

    ul {
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(0.4rem);
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;

      & > * {
        margin-inline: auto;
        margin-block: 0;
      }

      h1 {
        font-size: 3rem;

        @media screen and (max-width: 600px) {
          font-size: 2rem;
        }
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  nav {
    display: flex;
    position: sticky;
    inset-block-start: 0;
    z-index: 1;
    block-size: 4rem;
    background-color: var(--main-bg-color);
    color: var(--white-text);
    justify-content: space-between;
    align-items: center;
    padding-block: 0;
    padding-inline: 1rem;

    navlink {
      font-size: 2rem;
      cursor: pointer;

      @media screen and (max-width: 600px) {
        font-size: 1.2rem;
      }
    }

    .navlinks-container > * {
      margin-inline-start: 2rem;

      @media screen and (max-width: 600px) {
        margin-inline-start: 1rem;
      }
    }
    @media screen and (max-width: 600px) {
      padding-inline: 0.4rem;
    }
  }

  main {
    width: 70vw;
    margin-block: 0;
    margin-inline: auto;
    padding-block: 2rem;
    padding-inline: 0;

    @media screen and (max-width: 1000px) {
      width: 100vw;
      padding-inline: 1rem;
    }

    section {
      padding-block-start: 1rem;
      padding-block-end: 4rem;
      padding-inline: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      @media screen and (max-width: 600px) {
        padding-block-end: 2rem;
      }

      p {
        line-height: 1.5rem;
        font-size: 1.2rem;
        inline-size: 70%;
        text-align: center;

        @media screen and (max-width: 600px) {
          line-height: 1rem;
          font-size: 0.9rem;
        }
      }
    }

    .highlited {
      padding-block-start: 3rem;
      background-color: var(--accent-color);
      border-radius: 0.5rem;
      color: var(--black-text);
      font-weight: 600;

      @media screen and (max-width: 600px) {
        padding-block-start: 1rem;
      }
    }

    article {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (max-width: 400px) {
        flex-direction: column;
      }

      &:nth-child(4n) {
        flex-direction: row-reverse;

        @media screen and (max-width: 400px) {
          flex-direction: column;
        }
      }

      p {
        align-content: center;
        margin: 0 auto;
        inline-size: 40%;

        @media screen and (max-width: 400px) {
          inline-size: 90%;
          padding-block-end: 1rem;
        }
      }

      img {
        display: inline;
      }
    }

    img {
      max-inline-size: 50%;
      align-self: center;
      border-radius: 0.2rem;
      box-shadow: 0px 0px 10px rgb(69, 69, 69);

      @media screen and (max-width: 400px) {
        max-inline-size: 80%;
      }
    }

    h2 {
      text-align: center;
      font-size: 2.5rem;
    }

    h3 {
      text-align: center;
      font-size: 2rem;
    }
  }

  footer {
    color: var(--white-text);
    display: flex;
    width: 100%;
    height: 30dvh;
    margin-block: 0;
    margin-inline: auto;
    background-color: var(--main-bg-color);
    justify-content: center;
    align-items: center;
    gap: 8rem;

    @media screen and (max-width: 600px) {
        gap: 2rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        text-align: center;
        font-size: 1.2rem;
        @media screen and (max-width: 600px) {
          font-size: 0.8rem;
        }
      }
    }

    div {
      font-size: 2rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  a {
    &,
    &:visited,
    &:active {
      color: inherit;
    }
  }
}

/*

footer{
    background-color: #17271B;
    z-index: 2;
    display: flex;}
.footer__container{
    display:flex;
    flex-direction: column;
    margin: 40px auto;
    min-width: 320px;}
.footer__sect__1{
    font-size: 2.4em;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 0 0 30px;}
.footer__sect__1 span::before{
    content: "|";
    color: #e7f0ec;;
    margin: 0 1.5rem 0 0;}
.footer__sect__1 span:nth-child(1)::before{
    content: none;}
.footer__sect__2{
    align-self:center;
    display: flex;
    font-size: 2.8rem;
    gap: 1rem;}

@media only screen and (max-width:1800px){
    .header__text__1{
        font-size: 4.7rem;}
    .header__text__2{
        font-size: 2.8rem;}
    .header__text{
        padding: 0 0 10px 0;}
    .navbar{
        padding: 10px;
        font-size: 2.3rem;}  
    .nav__link{padding: 0px 10px;}
    .navbar span{padding: 0px 0;} 
    .top__block{
        padding: 30px 0 ;}
    .text__main{
        font-size:5rem;}
    .text__sec{
        font-size:4.4rem ;}
    .text{
        font-size:1.7rem;}     
    .footer__sect__1{
        font-size: 1.3em;}
    .footer__sect__2{
        font-size: 1.8rem;}}

@media only screen and (max-width:900px){
    .top__block{
        padding: 15px 0 ;}
    img{
        min-width: 300px;
        width: 90%;}
    .block{
        margin: 0 0 30px;}
    .dedicated{
        margin: 0 0 30px;
    }
    .text__main{
        font-size:4.4rem ;
    }
    .text__sec{
        font-size: 3.7rem;
    }
    .text{
        font-size: 1.3rem;
        padding: 10px 20px 0px;}
    .footer__sect__1{
        text-align: center;
        margin: 0 auto 30px;
        flex-direction: column;
        width: 80%;}
    .footer__sect__1 span::before{
        content: "";
        margin:0;}}

@media only screen and (max-width:580px){
    .header__text__1{
        font-size: 2.5rem;}
    .header__text__2{
        font-size: 1.7rem;}
    .navbar{
        font-size: 1.2rem;}  
    .navbar span{padding:auto 0;}
    .con{
        padding: 10px 0 10px ;}
    .top__block{
        padding:5px;}
    
    .block{
        margin: 0 0 20px;}
    .text__main{
        padding: 5px;
        font-size: 2.7rem;}
    .text__sec{
        font-size: 2rem;}
    .text{
        flex: 1 0 300px;
        font-size: 1rem;} 
    img{
        margin: 10px auto;
        min-width: 300px;
        width: 90%;}  
      
    .footer__container{
        margin: 20px auto;}  
    .footer__sect__1{
        font-size: 0.7em;
        margin: 0 auto 20px;}
    .footer__sect__2{
        font-size: 1rem;}}
*/
/*
font-family: "Montserrat", sans-serif;
#17271B
#d7e4de

#e7f0ec

make responsive
*/
