@layer reset, components;

:root{
    --main-bg-color:#17271B;
    --sec-bg-color:#e7f0ec;
    --white-text:#d7e4de;
}

@layer reset{
    /*Resseting styles*/
    *{padding: 0;margin: 0;border: 0;}
    *,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
    :focus,:active{outline: none;}
    a:focus,a:active{outline: none;}
    nav,footer,header,aside{display: block;}
    html,body{font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
    input,button,textarea{font-family:inherit;}
    input::-ms-clear{display: none;}
    button{cursor: pointer;}
    button::-moz-focus-inner {padding:0;border:0;}
    a,a:visited{text-decoration: none;}
    a:hover{text-decoration: none;}
    ul li{list-style: none;}
    img{vertical-align: top;}
    h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
}

@layer components {
    body {
        font-family: "Montserrat", sans-serif;
        background-color: var(--main-bg-color);
        color: var(--white-text);
        flex-direction: column;
        display: flex;
        flex:1;
        overflow-x: hidden;
    }
    
    header{
        height: 30dvh;
        width: 100%;
        background-image: url('/images/back.jpg');
        background-size: cover;
        background-position: center;
        
        ul{
            background-color: rgba(0,0,0,0.5);
            backdrop-filter: blur(5px);
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            
            & > *{
                margin: 0 auto;
                
            }

            h1{
                font-size: 3rem;
            }

            p{
                font-size: 1.5rem;
            }
        }
    }

    nav {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 1;
        height: 3rem;
        background-color: var(--main-bg-color);
        justify-content: space-between;
        align-items: center;
        height: calc(100%-2rem);
        padding: 0 1rem;

        navlink{
            font-size: 1.5rem;
            cursor: pointer;
        }

        .navlinks-container > * {
            margin-left: 2rem;
        }
    }

    main{
        
    }
}


/*.header__container{
    position: static;
    background: url("images/back_1.jpg");
    background-size: cover;
    overflow: hidden;
    min-width: 100%;
    height: 200px;
    min-height: 30vh;
    z-index: -1;}
.header__blur{
    position: absolute;
    display: block;
    width: 100%;
    height: 200px;
    min-height: 30vh;
    background-color: #000;
    z-index: 1;
    opacity: 0.6;}
.header__text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 0 30px 0;}
.header__text__1 , .header__text__2{
    z-index: 4;
    text-align: center;
    color: #d7e4de;}
.header__text__1{
    font-size: 8rem;}
.header__text__2{
    font-size: 5rem;}
.navbar{
    z-index: 33;
    font-size: 4rem;
    display: flex;
    background-color: #17271B;
    justify-content: space-between;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;}
.nav__link{padding: 15px 30px;}
.navbar span{padding: 15px 0;}
.nav__link:hover , .navbar span:hover ,i:hover ,.footer__sect__1 a:hover{color: rgb(202, 152, 126);}
a{color: #e7f0ec;
transition: all 0.1s linear;}
i{transition: all 0.1s linear}

.con{
    min-width: 320px;
    width: 80vw;
    max-width: 2000px;
    padding: 10px 0 50px;
    margin: 0 auto;
    flex: 1 1 auto;
    z-index: 2;}
.dedicated{
    box-shadow: 0px 0px 5px #000 ;
    padding: 15px 0;
    color: #e7f0ec;
    background-color: #17271B;
    border-radius: 15px;
    margin: 0 0 3.75rem;}
.block{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0 3.75rem;}
.block__container .block:nth-child(4n+2){
    flex-direction: row-reverse;}
.top__block{
    padding: 30px 0 ;}
.text__main{
    padding: 0px;
    text-align: center;
    font-size: 7rem;}
.text__sec{
    text-align: center;
    font-size: 5.6rem;}
.text{
    margin: 0  auto;
    padding:20px 30px;
    text-align: center;
    flex: 1 0 440px;
    align-self:center;
    font-size: 2.5rem;
    line-height: 1.1;}
img{
    box-shadow: 0px 0px 10px rgb(69, 69, 69) ;
    margin: 30px  auto;
    min-width: 480px;
    width: 50%;
    height: auto;
    align-self:center;
    border-radius: 5px;}

footer{
    background-color: #17271B;
    z-index: 2;
    display: flex;}
.footer__container{
    display:flex;
    flex-direction: column;
    margin: 40px auto;
    min-width: 320px;}
.footer__sect__1{
    font-size: 2.4em;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 0 0 30px;}
.footer__sect__1 span::before{
    content: "|";
    color: #e7f0ec;;
    margin: 0 1.5rem 0 0;}
.footer__sect__1 span:nth-child(1)::before{
    content: none;}
.footer__sect__2{
    align-self:center;
    display: flex;
    font-size: 2.8rem;
    gap: 1rem;}

@media only screen and (max-width:1800px){
    .header__text__1{
        font-size: 4.7rem;}
    .header__text__2{
        font-size: 2.8rem;}
    .header__text{
        padding: 0 0 10px 0;}
    .navbar{
        padding: 10px;
        font-size: 2.3rem;}  
    .nav__link{padding: 0px 10px;}
    .navbar span{padding: 0px 0;} 
    .top__block{
        padding: 30px 0 ;}
    .text__main{
        font-size:5rem;}
    .text__sec{
        font-size:4.4rem ;}
    .text{
        font-size:1.7rem;}     
    .footer__sect__1{
        font-size: 1.3em;}
    .footer__sect__2{
        font-size: 1.8rem;}}

@media only screen and (max-width:900px){
    .top__block{
        padding: 15px 0 ;}
    img{
        min-width: 300px;
        width: 90%;}
    .block{
        margin: 0 0 30px;}
    .dedicated{
        margin: 0 0 30px;
    }
    .text__main{
        font-size:4.4rem ;
    }
    .text__sec{
        font-size: 3.7rem;
    }
    .text{
        font-size: 1.3rem;
        padding: 10px 20px 0px;}
    .footer__sect__1{
        text-align: center;
        margin: 0 auto 30px;
        flex-direction: column;
        width: 80%;}
    .footer__sect__1 span::before{
        content: "";
        margin:0;}}

@media only screen and (max-width:580px){
    .header__text__1{
        font-size: 2.5rem;}
    .header__text__2{
        font-size: 1.7rem;}
    .navbar{
        font-size: 1.2rem;}  
    .navbar span{padding:auto 0;}
    .con{
        padding: 10px 0 10px ;}
    .top__block{
        padding:5px;}
    
    .block{
        margin: 0 0 20px;}
    .text__main{
        padding: 5px;
        font-size: 2.7rem;}
    .text__sec{
        font-size: 2rem;}
    .text{
        flex: 1 0 300px;
        font-size: 1rem;} 
    img{
        margin: 10px auto;
        min-width: 300px;
        width: 90%;}  
      
    .footer__container{
        margin: 20px auto;}  
    .footer__sect__1{
        font-size: 0.7em;
        margin: 0 auto 20px;}
    .footer__sect__2{
        font-size: 1rem;}}
*/
/*
font-family: "Montserrat", sans-serif;
#17271B
#d7e4de
#99912A
#e7f0ec

make responsive
*/